{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="about">
            <div class="container">
                <div class="breadcrumbs">
                    <div><a href="/">Головна</a></div>
                    <img src="{% static 'images/additional_shape.svg' %}">
                    <div><a href="/catalog">Каталог</a></div>
                </div>
            </div>
        </div>
         <div class="contacts">
            <div class="container">
                <h2>Каталог</h2>

                <div class="grid_container_catalog">
                    {% for item in categories %}
                        <div class="catalog_item">
                            <a href="/catalog/{{ item.slug }}">
                                <img src="/uploads/{{ item.link_img }}">
                                <div>
                                    <h2>{{ item.title }}</h2>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
         </div>
    </main>
{% endblock %}