.special{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.special .container{
    display: block;
}


.special_body{
    display: flex;
    justify-content: space-between;
}

.special_item{
    margin-top: 40px;
    display: flex;
    border-radius: 4px;
    width: 100%;
    max-width: 584px;
    min-height: 200px;
    align-items: center;
    padding-left: 35px;
}

.special_item:first-child{
    background: #FCD5BA;
    margin-right: 40px;
}

.special_item:last-child{
    background: #E5FFDE;
}

.special_item_title{
    max-width: 258px;
    color: #414141;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.special_item_desc{
    color: #414141;
    font-size: 16px;
    font-weight: 300;
}