{% extends 'base.html' %}
{% load static %}

{% block content %}
   <main>
        <div class="articles_container">
            <div class="container">
                <div>
                    <img src="/uploads/{{ article.link_img }}">
                </div>
                <div>
                    <p class="date">{{ article.time_created }}</p>
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.description }}</p>
                    <a href="{{ get_absolute_url }}">{{ get_absolute_url }}</a>
                </div>
            </div>
        </div>
   </main>
{% endblock %}